test-network/organizations/fabric-ca/orgPlatform/msp/keystore/IssuerSecretKey
test-network/organizations/fabric-ca/orgPlatform/msp/keystore/IssuerRevocationPrivateKey
test-network/organizations/fabric-ca/orgPlatform/msp/keystore/dbf06c08b4bc36f90b990f307d551fda932635a2d76917efc50dca33c9669d72_sk
test-network/organizations/fabric-ca/orgPlatform/msp/keystore/07016af81fc37267066d68c99c9fc6db9f975673a403e0a261d4837276dd0c53_sk
test-network/organizations/fabric-ca/orgPlatform/msp/keystore/960ed91ab295ff33eb3abcd8d688f49075cd0be075aafe76d27a8630ae396e6c_sk
test-network/organizations/fabric-ca/orgPlatform/msp/keystore/42ccc3d08fcca4c7dbd7798a12d6aa885b49547e6a6d30e340a42a7b701b8d36_sk
test-network/organizations/fabric-ca/orgPlatform/tls-cert.pem
test-network/organizations/fabric-ca/orgPlatform/IssuerRevocationPublicKey
test-network/organizations/fabric-ca/orgPlatform/IssuerPublicKey
test-network/organizations/fabric-ca/orgPlatform/fabric-ca-server.db
test-network/organizations/fabric-ca/orgPlatform/ca-cert.pem
test-network/organizations/fabric-ca/orgClient/msp/keystore/IssuerSecretKey
test-network/organizations/fabric-ca/orgClient/msp/keystore/IssuerRevocationPrivateKey
test-network/organizations/fabric-ca/orgClient/msp/keystore/eaaaea72de6e2849210af3f3b8208f6f9d01e077d5f90814e872dd8320bebef6_sk
test-network/organizations/fabric-ca/orgClient/msp/keystore/560e9c48a8c04f39a2225d260afe9d986dea0677c9503db4195225f20a638b07_sk
test-network/organizations/fabric-ca/orgClient/msp/keystore/87c54685773d12e6a1d7181e8fb03d863e3036f844f97771dd0e6434905d0866_sk
test-network/organizations/fabric-ca/orgClient/msp/keystore/59c8c49707b36a96bbf1076dcdaa19534f76d0367e6894645ab3bda050e63a02_sk
test-network/organizations/fabric-ca/orgClient/tls-cert.pem
test-network/organizations/fabric-ca/orgClient/IssuerRevocationPublicKey
test-network/organizations/fabric-ca/orgClient/IssuerPublicKey
test-network/organizations/fabric-ca/orgClient/fabric-ca-server.db
test-network/organizations/fabric-ca/orgClient/ca-cert.pem

bin/*
config/*